{% extends "master.html" %}

{% block games_nav %}class="active"{% endblock %}

{% block active_games_nav %}
    {% if title == 'Active' %}
        class="active"
    {% endif %}
{% endblock %}

{% block completed_games_nav %}
    {% if title == 'Completed' %}
        class="active"
    {% endif %}
{% endblock %}

{% block body %}

<h1>{{title}}</h1>
<table class="table table-responsive table-striped">

    <thead>
        <tr>
            <th>
                Time Stamp
            </th>
            <th>
                Yellow Offense
            </th>
            <th>
                Yellow Defense
            </th>
            <th>
                Black Offense
            </th>
            <th>
                Black Defense
            </th>
            <th>
                Black Score
            </th>
            <th>
                Yellow Score
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}

        <tr>
            <td class="col-xs-2">
                {{game.timestamp}}
            </td>
            <td class="col-xs-2">
                {{players[game.red_o]}}
            </td>
            <td class="col-xs-2">
                {{players[game.red_d]}}
            </td>
            <td class="col-xs-2">
                {{players[game.blue_o]}}
            </td>
            <td class="col-xs-2">
                {{players[game.blue_d]}}
            </td>
            <td class="col-xs-2" data-game-length="{{game.length}}">
                {{game.blue_shots | length}}
            </td>
            <td class="col-xs-2" data-game-length="{{game.length}}">
                {{game.red_shots | length}}
            </td>
            <td class="col-xs-2">
                <a href="/games/play?key={{game.key.urlsafe()}}">Resume</a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% if next_link %}
<div class="col-xs-12 text-right">
    <a href='{{next_link}}'>More</a>
</div>
{% endif %}

{% endblock body %}
