{% extends "master.html" %}

{% block body %}


<table>
    <tr>
        <td>
            <button type="button" class="btn btn-primary btn-block">O</button>
        </td>
        <td>
            <button type="button" class="btn btn-primary btn-block">D</button>
        </td>
    </tr>
    <tr>
        <td>
            <button type="button" class="btn btn-danger btn-block">O</button>
        </td>
        <td>
            <button type="button" class="btn btn-danger btn-block">D</button>
        </td>
    </tr>
</table>





{% endblock body %}
