{% extends "master.html" %}

{% block scripts %}

<link rel="stylesheet" href="/scripts/image-picker.css">
<link rel="stylesheet" href="/scripts/new-game.css">
<script type="text/javascript" src="/scripts/image-picker.min.js"></script>
<script type="text/javascript" src="/scripts/new-game.js"></script>

{% endblock %}

{% block new_game_nav %}class="active"{% endblock %}

{% block body %}

<h1>New Game</h1>

{% if error %}
<p class="alert alert-danger">{{error}}</p>
{% endif %}

<fieldset>
    <legend>Select Players:</legend>
    <form class="form-horizontal" role="form" action="/game/new" method="post">
        <div class="form-group">
            <div class="col-xs-12">
                <input type="submit" name="match_mode" value="Random" class="btn btn-default"/>
                <input type="submit" name="match_mode" value="Matched" class="btn btn-default"/>
            </div>
        </div>

        <select name="players" class="player-select" multiple size="4">
            {% for player in players %}

            <option class="col-xs-3"
                data-img-src="/players/image?key={{player.image.urlsafe()}}"
                data-img-label="{{player.name}} ({{player.elo}}) [{{player.trueskill_rating()}}]"
                value="{{player.key.urlsafe()}}">
            </option>

            {% endfor %}
        </select>

        <div class="form-group">
            <div class="col-xs-12">
                <input type="submit" name="match_mode" value="Random" class="btn btn-default"/>
                <input type="submit" name="match_mode" value="Matched" class="btn btn-default"/>
            </div>
        </div>
    </form>
</fieldset>

{% endblock body %}
