{% extends "master.html" %}

{% block body %}

<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-6">
            <button type="button" class="btn btn-primary btn-block">{{blue_o.name}}</button>
        </div>
        <div class="col-xs-6">
            <button type="button" class="btn btn-primary btn-block">{{blue_d.name}}</button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-6">
            <button type="button" class="btn btn-danger btn-block">{{red_d.name}}</button>
        </div>
        <div class="col-xs-6">
            <button type="button" class="btn btn-danger btn-block">{{red_o.name}}</button>
        </div>
    </div>
</div>

{% endblock body %}
