{% extends "master.html" %}

{% block scripts %}

<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" />

<script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

{% endblock scripts %}

{% block players_nav %}class="active"{% endblock %}

{% block ranked_players_nav %}
    {% if title == 'Ranked' %}
        class="active"
    {% endif %}
{% endblock %}

{% block unranked_players_nav %}
    {% if title == 'Unranked' %}
        class="active"
    {% endif %}
{% endblock %}


{% block hall_of_fame_nav %}
    {% if title == 'Hall of Fame' %}
        class="active"
    {% endif %}
{% endblock %}

{% block body %}

<h1>{{title}}</h1>
<table id="player-table" class="table table-responsive table-striped">
    <thead>
        <tr>
            <th class="col-xs-2">
            </th>
            <th class="col-xs-2">
                Name
            </th>
            <th class="col-xs-2">
                Elo
            </th>
            <th class="col-xs-2">
                TrueSkill
            </th>
            <th class="col-xs-2">
                Win Rate
            </th>
            <th class="col-xs-2">
            </th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}

        <tr>
            <td class="col-xs-2">
                <img src="/players/image?key={{player.image.urlsafe()}}" class="img-rounded col-xs-12"/>
            </td>
            <td class="col-xs-2">
                <h4><a href="/players?key={{player.key.urlsafe()}}">{{player.name}}</a></h4>
            </td>
            <td class="col-xs-2">
                <h4>{{player.elo}}</h4>
            </td>
            <td class="col-xs-2">
                <h4>{{player.trueskill_rating}}</h4>
            </td>
            <td class="col-xs-2">
                <h4>{{player.win_rate}} %</h4>
            </td>
            <td class="col-xs-2">
                {% if title == 'Hall of Fame' %}
                <form action="/players/revive" method="post">
                    <input type="hidden" name="key" value="{{player.key.urlsafe()}}"/>
                    <input type="submit" value="Revive" class="btn btn-default"/>
                </form>
                {% else %}
                <form action="/players/remove" method="post">
                    <input type="hidden" name="key" value="{{player.key.urlsafe()}}"/>
                    <input type="submit" value="Delete" class="btn btn-default"/>
                </form>
                {% endif %}
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function() {
        $("#player-table").DataTable({
            paging: false,
            info: false,

            order: [[3, "desc"]],
            orderMulti: true,

            aoColumnDefs: [
                {
                    bSearchable: false,
                    aTargets: [0, 2, 3, 4, 5]
                },
                {
                    bSortable: false,
                    aTargets: [0, 5]
                }
            ]
        });
    });
</script>

{% endblock body %}
