{% extends "master.html" %}

{% block scripts %}
<script type="text/javascript" src="/scripts/fastclick.js"></script>
<script type="text/javascript" src="/scripts/play-game.js"></script>
<link rel="stylesheet" href="/scripts/play-game.css">
{% endblock %}

{# ---- Score Button Macro ---- #}
{% macro score_button(
    game,
    player,
    teammate,
    opponents,
    elo_gain,
    elo_loss,
    btn_class) %}

{# Score Button #}
<div class="col-xs-6">
    <button type="button" class="btn {{btn_class}} btn-block score-btn"
        data-game="{{game.key.urlsafe()}}"
        data-player="{{player.key.urlsafe()}}">

        {{player.name}}

        <div class="thumbnail player-image">
            <img src="/players/image?key={{player.image.urlsafe()}}">
        </div>

        <p>
        <div class="row">
            <span style="margin-left: auto; margin-right: 3%">
                <span class="glyphicon glyphicon-arrow-up"></span>{{elo_gain}}
            </span>
            <span>
                <strong>({{player.elo}})</strong>
            </span>
            <span style="margin-right: auto; margin-left: 3%">
                <span class="glyphicon glyphicon-arrow-down"></span>{{elo_loss}}
            </span>
        </div>
        <p>
        <div class="row">
            <span style="margin-left: auto; margin-right: 3%">
                <span class="glyphicon glyphicon-arrow-up"></span>{{player.trueskill_gain(teammate, opponents)}}
            </span>
            <span>
                <strong>[{{player.trueskill_rating}}]</strong>
            </span>
            <span style="margin-right: auto; margin-left: 3%">
                <span class="glyphicon glyphicon-arrow-down"></span>{{player.trueskill_loss(teammate, opponents)}}
            </span>
        </div>
    </button>
</div>

{% endmacro %}

{# Body: #}
{% block body %}

<div class="message alert" role="alert"></div>

{# TrueSkill Quality: #}
<div class="row">
    <h3 class="text-center">
        <span>{{game.quality}}%</span>
    </h3>
</div>

{# Top score buttons: #}
{% if not game.is_complete %}
<div class="row">

    {{score_button(
        game,
        game.blue_d.get(),
        game.blue_o.get(),
        (game.red_o.get(), game.red_d.get()),
        game.blue_elo_points_to_gain,
        game.red_elo_points_to_gain,
        "btn-black btn-blue btn-blue-d")}}

    {{score_button(
        game,
        game.red_o.get(),
        game.red_d.get(),
        (game.blue_o.get(), game.blue_d.get()),
        game.red_elo_points_to_gain,
        game.blue_elo_points_to_gain,
        "btn-yellow btn-red btn-red-o")}}

</div>

{% endif %}

{# Scores: #}
<div class="row">
    <div class="col-xs-6">
        <h1 class="text-right text-black blue-score" data-game-length="{{game.length}}">
            {{game.blue_score}}
        </h1>
    </div>
    <div class="col-xs-6">
        <h1 class="text-left text-yellow red-score" data-game-length="{{game.length}}">
            {{game.red_score}}
        </h1>
    </div>
</div>

{# Bottom score buttons #}
{% if not game.is_complete %}
<div class="row">

    {{score_button(
        game,
        game.blue_o.get(),
        game.blue_d.get(),
        (game.red_o.get(), game.red_d.get()),
        game.blue_elo_points_to_gain,
        game.red_elo_points_to_gain,
        "btn-black btn-blue btn-blue-o")}}

    {{score_button(
        game,
        game.red_d.get(),
        game.red_o.get(),
        (game.blue_o.get(), game.blue_d.get()),
        game.red_elo_points_to_gain,
        game.blue_elo_points_to_gain,
        "btn-yellow btn-red btn-red-d")}}

</div>

{% endif %}

{# Automatic Rematch button: #}
<div class="row rematch-buttons">
    <div class="col-xs-12 text-center">
        <form method="POST" action="/games/rematch">
            <input type="hidden" name="game" value="{{game.key.urlsafe()}}"/>
            <input type="submit" name="rematch_mode" value="Automatic Rematch" class="btn btn-default btn-lg"/>
            <input type="submit" name="rematch_mode" value="Random Rematch" class="btn btn-default btn-lg"/>
            <input type="submit" name="rematch_mode" value="Matched Rematch" class="btn btn-default btn-lg"/>
            <input type="submit" name="rematch_mode" value="Up the Ante Rematch" class="btn btn-default btn-lg"/>
        </form>
    </div>
</div>

<br><br>

{% endblock body %}
