{% extends "master.html" %}

{% block body %}

<div class="container">

    <h2>Players</h2>

    <table class="table table-striped">
        <tbody>
            {% for player in players %}

            <tr>
                <td>
                    [[player.name]]
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

    <fieldset>
        <legend>Add a Player</legend>
        <form class="form-horizontal" role="form" action = "/players" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name" class="col-xs-2 control-label">Name</label>
                <div class="col-xs-10">
                    <input id="name" class="form-control" type="text"/>
                </div>
            </div>

            <div class="form-group">
                <label for="image" class="col-xs-2 control-label">Image</label>
                <div class="col-xs-10">
                    <span class="btn btn-default btn-file col-xs-12">
                        <input id="image" type="file"/>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <input type="submit" value="Submit" class="btn btn-default"/>
                </div>
            </div>
        </form>
    </fieldset>

</div>


{% endblock body %}
