{% extends "master.html" %}


{% macro modal_body(game_key, player_key, shot_types) %}


<div class="row">
    <div class="btn-group-vertical col-xs-12">
        {% for shot_type in shot_types %}
        <button class="btn btn-default btn-block">{{shot_type.name}}</button>
        {% endfor %}
    </div>
</div>

{% endmacro %}

{% block body %}

<br>
<br>
<br>
<br>
<div class="row">

    <!-- Blue Offense -->
    <div class="col-xs-6">
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#blueOffenseModal">{{blue_o.name}}</button>
    </div>

    <!-- Modal -->
    <div class="modal" id="blueOffenseModal" tabindex="-1" role="dialog" aria-labelledby="blueOffenseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="blueOffenseModalLabel">Blue Offense Shot Type:</h4>
                </div>
                <div class="modal-body">
                    {{ modal_body(game_key, blue_o.key, offensive_shots) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Blue Defense -->
    <div class="col-xs-6">
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#blueDefenseModal">{{blue_d.name}}</button>
    </div>

    <!-- Modal -->
    <div class="modal" id="blueDefenseModal" tabindex="-1" role="dialog" aria-labelledby="blueDefenseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="blueDefenseModalLabel">Blue Defense Shot Type:</h4>
                </div>
                <div class="modal-body">
                    {{ modal_body(game_key, blue_d.key, defensive_shots) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="row">

    <!-- Red Offense -->
    <div class="col-xs-6">
        <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#redOffenseModal">{{red_o.name}}</button>
    </div>

    <!-- Modal -->
    <div class="modal" id="redOffenseModal" tabindex="-1" role="dialog" aria-labelledby="redOffenseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="redOffenseModalLabel">Red Offense Shot Type:</h4>
                </div>
                <div class="modal-body">
                    {{ modal_body(game_key, red_o.key, offensive_shots) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Red Defense -->
    <div class="col-xs-6">
        <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#redDefenseModal">{{red_d.name}}</button>
    </div>

    <!-- Modal -->
    <div class="modal" id="redDefenseModal" tabindex="-1" role="dialog" aria-labelledby="redDefenseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="redDefenseModalLabel">Red Defense Shot Type:</h4>
                </div>
                <div class="modal-body">
                    {{ modal_body(game_key, red_d.key, defensive_shots) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
