{% extends "master.html" %}

{% block shot_types_nav %}class="active"{% endblock %}

{% block body %}

<h1>Shot Types</h1>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th class="col-xs-4">
                Name
            </th>
            <th class="col-xs-4">
                Position
            </th>
            <th class="col-xs-4">
            </th>
        </th>
    </thead>
    <tbody>

        {% for shot_type in shot_types %}

        <tr>
            <td class="col-xs-4">
                <h4>{{shot_type.name}}</h4>
            </td>
            <td class="col-xs-4">
                <h4>{{shot_type.position | capitalize}}</h4>
            </td>
            <td class="col-xs-4">
                <form action="/shot_types/remove" method="post">
                    <input type="hidden" name="key" value="{{shot_type.key.urlsafe()}}"/>
                    <input type="submit" value="Delete" class="btn btn-default"/>
                </form>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

<br><br>

<fieldset>
    <legend>Add a Shot Type</legend>
    <form class="form-horizontal" role="form" action="/shot_types/add" method="post">
        <div class="form-group">
            <label for="name" class="col-xs-2 control-label">Name</label>
            <div class="col-xs-8">
                <input id="name" name="name" class="form-control" type="text"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-2"></div>
            {% for position in positions %}

            <div class="radio-inline">
                <label>
                    <input type="radio" name="position" value="{{position}}" checked>
                    {{position | capitalize}}
                </label>
            </div>

            {% endfor %}
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-8">
                <input type="submit" value="Submit" class="btn btn-default"/>
            </div>
        </div>
    </form>
</fieldset>

{% endblock body %}
