{% extends "master.html" %}

{% block body %}

<h1>Active games</h1>
<table class="table table-responsive table-striped">

    <thead>
        <tr>
            <th>
                Time Stamp
            </th>
            <th>
                Red Offense
            </th>
            <th>
                Red Defense
            </th>
            <th>
                Blue Offense
            </th>
            <th>
                Blue Defense
            </th>
        </tr>
    </thead>
    <tbody>
        {% for game in active_games %}

        <tr>
            <td class="col-xs-2">
                {{game.timestamp}}
            </td>
            <td class="col-xs-2">
                {{players[game.red_o]}}
            </td>
            <td class="col-xs-2">
                {{players[game.red_d]}}
            </td>
            <td class="col-xs-2">
                {{players[game.blue_o]}}
            </td>
            <td class="col-xs-2">
                {{players[game.blue_d]}}
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock body %}
